.bg-lay
{
	background-color: #FAA9BA !important;
}

.bg-back
{
	background-color: rgba(114, 187, 239, 0.75) !important;
}
body{
    font-family: cambria;
}
.bg-a1
{
	background: rgb(88,106,185)!important;
	background: radial-gradient(circle, rgba(88,106,185,1) 0%, rgba(0,235,165,1) 100%)!important;
}